body{
    background-color: #FAFAFA;
    font-family: Roboto;
}
.card-course {
	background-color: #28527A;
    border-width: 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px;
}
.card-text-course {
    color: white;
}
.card{
    background-color: white;
    border-width: 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px;
}
.card-title {
    color: #EFA30A;
}
.nav-link {
    color: #EFA30A;
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link.active {
    color: #EFA30A !important; 
    font-weight: bold;
}
.table-dark {
    background-color: #3CADC9;
}
.btn-primary {
    background-color: #28527A;
    border-color: #28527A;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #1C3650 !important;
    border-color: #1C3650 !important;
}
.list-group-item:hover, .list-group-item:focus, .list-group-item.active, .list-group-item:active {
    color: white;
    background-color: #28527A;
    border-color: #28527A;
}